<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>PDFKit</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>IdentityLookup</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>DeviceCheck</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>FileProvider</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>DragAndDrop</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>CoreNFC</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>AutoFill</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>CoreML</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>key</key>
		<string>ARKit</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
