<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PDFKit</key>
	<dict>
		<key>key</key>
		<string>PDFKit</string>
		<key>name</key>
		<string>PDFKit</string>
		<key>class</key>
		<string>PDFKitViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>PDFKitViewController</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<key>IdentityLookup</key>
	<dict>
		<key>key</key>
		<string>IdentityLookup</string>
		<key>name</key>
		<string>IdentityLookup(Message Filter)</string>
		<key>class</key>
		<string>IdentityLookupViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>IdentityLookupViewController</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<key>DeviceCheck</key>
	<dict>
		<key>key</key>
		<string>DeviceCheck</string>
		<key>name</key>
		<string>DeviceCheck</string>
		<key>class</key>
		<string>DeviceCheckViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>DeviceCheckViewController</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<key>FileProvider</key>
	<dict>
		<key>key</key>
		<string>FileProvider</string>
		<key>name</key>
		<string>FileProvider</string>
		<key>class</key>
		<string>FileProviderViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>FileProviderViewController</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<key>DragAndDrop</key>
	<dict>
		<key>key</key>
		<string>DragAndDrop</string>
		<key>name</key>
		<string>Drag And Drop</string>
		<key>class</key>
		<string>DragAndDropViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>DragAndDropViewController</string>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<key>CoreNFC</key>
	<dict>
		<key>key</key>
		<string>CoreNFC</string>
		<key>name</key>
		<string>Core NFC</string>
		<key>class</key>
		<string>CoreNFCViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>CoreNFCViewController</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<key>AutoFill</key>
	<dict>
		<key>key</key>
		<string>AutoFill</string>
		<key>name</key>
		<string>Auto Fill</string>
		<key>class</key>
		<string>AutoFillViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>AutoFillViewController</string>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<key>CoreML</key>
	<dict>
		<key>key</key>
		<string>CoreML</string>
		<key>name</key>
		<string>Core ML</string>
		<key>class</key>
		<string>CoreMLViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>CoreMLViewController</string>
		<key>status</key>
		<integer>0</integer>
	</dict>
	<key>ARKit</key>
	<dict>
		<key>key</key>
		<string>ARKit</string>
		<key>name</key>
		<string>AR Kit</string>
		<key>class</key>
		<string>ARKitViewController</string>
		<key>storyboard</key>
		<string>main</string>
		<key>storyboardid</key>
		<string>ARKitViewController</string>
	</dict>
	<key>SimpleViewDragAndDrop</key>
	<dict>
		<key>key</key>
		<string>SimpleViewDragAndDrop</string>
		<key>name</key>
		<string>SimpleView DragAndDrop</string>
		<key>class</key>
		<string>SimpleViewDragAndDropViewController</string>
		<key>storyboard</key>
		<string>SimpleViewDragAndDrop</string>
		<key>storyboardid</key>
		<string>SimpleViewDragAndDropViewController</string>
	</dict>
    <key>TableViewDragAndDrop</key>
    <dict>
        <key>key</key>
        <string>TableViewDragAndDrop</string>
        <key>name</key>
        <string>TableView DragAndDrop</string>
        <key>class</key>
        <string>TableViewDragAndDropViewController</string>
        <key>storyboard</key>
        <string>TableViewDragAndDrop</string>
        <key>storyboardid</key>
        <string>TableViewDragAndDropViewController</string>
    </dict>
    <key>CollectionViewDragAndDrop</key>
    <dict>
        <key>key</key>
        <string>CollectionViewDragAndDrop</string>
        <key>name</key>
        <string>CollectionView DragAndDrop</string>
        <key>class</key>
        <string>CollectionViewDragAndDropViewController</string>
        <key>storyboard</key>
        <string>CollectionViewDragAndDrop</string>
        <key>storyboardid</key>
        <string>CollectionViewDragAndDropViewController</string>
    </dict>
</dict>
</plist>
