*/xcschemes/*
iOS11Demo.xcodeproj/xcuserdata
iOS11Demo.xcodeproj/xcuserdata/*
iOS11Demo.xcodeproj/project.xcworkspace
iOS11Demo.xcworkspace/xcuserdata
iOS11Demo.xcworkspace/xcuserdata/*
Pods/Pods.xcodeproj/xcuserdata
Pods/Pods.xcodeproj/xcuserdata/*
Pods/Pods.xcodeproj/project.xcworkspace
*.xcuserstate
